@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/apercu-pro");

body {
  background-image: url('/images/profileImage.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  backdrop-filter: blur(20px);
}

.background-blur {
  background-color: rgba(0, 0, 0,0.8);
}

.all-texts {
  font-family: "Apercu Pro", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.bg-list {
  border-radius: 39px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  opacity: 1;
  background-image: linear-gradient(
    90deg,
    rgba(50, 50, 50, 1) 0%,
    rgba(13, 13, 13, 1) 100%
  );
}

.media-list {
  border-radius: 39px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  opacity: 1;
  background-color: rgba(0, 0, 0, 1);
}

.darkorangecolor {
  background-color: rgba(255, 64, 0, 1);
}

.lightorangecolor {
  background-color: #FF8600;
}

.whitecolor {
  background-color: #FFf;
}

.blocoredcolor {
  background-color: #FF0000;
}

.media-mxtape {
  border-radius: 20px;
  background-color: rgba(255, 64, 0, 1);
}

.feature-title {
  border-radius: 10px;
  background-color: rgba(255, 101, 49, 1);
  color: #ffc6b2;
}

.footer-card {
  border-radius: 39px;
  border: 1px solid #4B4A4B;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  opacity: 1;
  background-color: #565656;
}

.footer-p {
  font-weight: 400;
  font-style: Medium;
  letter-spacing: 2px;
  text-align: left;
  line-height: 11px;
  font-size: 11px;
}

.transparent-white {
  background-color: rgb(255, 255, 255, 0.85)
}


