@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.cdnfonts.com/css/apercu-pro"); */

@font-face {
  font-family: 'Apercu-medium-Pro';
  src: url('/apercu-pro-cufonfonts/apercu-pro-cufonfonts/apercu_medium_pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu-regular-Pro';
  src: url('/apercu-pro-cufonfonts/apercu-pro-cufonfonts/apercu_regular_pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu-bold-Pro';
  src: url('/apercu-pro-cufonfonts/apercu-pro-cufonfonts/apercu_bold_pro.otf') format('opentype');
}


body {
  background-image: url('/images/profileImage.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  backdrop-filter: blur(30px);
}

.background-blur {
  background-color: rgba(0, 0, 0,0.7);
}

.all-texts {
  font-family: "Apercu-medium-Pro", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.apercu-regular {
  font-family: "Apercu-regular-Pro", sans-serif;
}

.apercu-bold {
  font-family: "Apercu-bold-Pro", sans-serif;
}

.bg-list {
  border-radius: 39px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  opacity: 1;
  background-image: linear-gradient(
    90deg,
    rgba(50, 50, 50, 1) 0%,
    rgba(13, 13, 13, 1) 100%
  );
}

.media-list {
  border-radius: 39px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  opacity: 1;
  background-color: rgba(0, 0, 0, 1);
}

.darkorangecolor {
  background-color: rgba(255, 64, 0, 1);
}

.lightorangecolor {
  background-color: #FF8600;
}

.whitecolor {
  background-color: #FFf;
}

.blocoredcolor {
  background-color: #FF0000;
}

.media-mxtape {
  border-radius: 20px;
  background-color: rgba(255, 64, 0, 1);
}

.feature-title {
  border-radius: 10px;
  background-color: rgba(255, 101, 49, 1);
  color: #ffc6b2;
}

.footer-card {
  border-radius: 39px;
  border: 1px solid #4B4A4B;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  opacity: 1;
  background-color: #565656;
}

.footer-p {
  font-family: 'Apercu-regular-Pro', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
  line-height: 11px;
  font-size: 11px;
}

.transparent-white {
  background-color: rgb(255, 255, 255, 0.85)
}


@media screen and (max-width: 500px) {

.crop-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3em;
  width: 130px;
}

/* For Firefox */
@supports (-moz-appearance:none) {
  .crop-text {
    display: -moz-box;
    -moz-box-orient: vertical;
    max-height: 3em;
    overflow: hidden;
  }
}

}
